In [25]:
import pandas as pd 

df = pd.DataFrame({'name': ['Catrina', 'Suzi'],
                   'age': ['26', '20']})
df.to_csv('dummy/data_mult_files_labels/female/data.csv', index=False)

In [23]:
!mkdir dummy/data_mult_files_labels/female

In [26]:
import shutil

zip_name = 'dummy/data_mult_files_labels'
directory_name = 'dummy/data_mult_files_labels'

# Create 'path\to\zip_file.zip'
shutil.make_archive(zip_name, 'zip', directory_name)

'/home/zaid/datasets_auto_wrapper/dummy/data_mult_files_labels.zip'

In [13]:
!mkdir dummy/data

In [17]:
!cp dummy/data.csv dummy/data/data2.csv

In [26]:
from datasets import load_dataset
dataset = load_dataset('datasets/dummy')

Using custom data configuration default

Downloading and preparing dataset dummy/default to /home/zaid/.cache/huggingface/datasets/dummy/default/0.0.0/ea1b0fcbcfed962b51525a8dfe19896f7b400553d0dc0bf9473cf5b8c3db51d5...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Downloading data:   0%|          | 0.00/110 [00:00<?, ?B/s]

Generating train split: 0 examples [00:00, ? examples/s]

/home/zaid/.cache/huggingface/datasets/downloads/f8ac9f25a0de65a0b47bb25e9815769e3e4b8b1455d580bdd3f5343a38f99474
<root>
    <person>
    <name>Raphael</name>
    <age>26</age>
    <gender>male</gender>
    </person>
    <person>
    <name>Catrina</name>
    <age>20</age>
    <gender>female</gender>
    </person>
</root>
Dataset dummy downloaded and prepared to /home/zaid/.cache/huggingface/datasets/dummy/default/0.0.0/ea1b0fcbcfed962b51525a8dfe19896f7b400553d0dc0bf9473cf5b8c3db51d5. Subsequent calls will reuse this data.

  0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
import src.utils 
import importlib
importlib.reload(src.utils)

In [20]:
src.utils.get_df('xml', {'inputs': ['dummy/data.xml']}, columns = ['name', 'age'])

      name age
0  Raphael  26
1  Catrina  20

In [29]:

df = src.utils.get_df('csv', {'inputs': ['dummy/data_tab_sep.txt']}, 0, sep = "\t")
print(df)

     name\tage\tgender
0    Raphael\t26\tmale
1  Catrina\t20\tfemale

/home/zaid/datasets_auto_wrapper/src/utils.py:95: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(paths[path_name][i], sep = f'{sep}', skiprows = skiprows, error_bad_lines = False)

In [42]:
import pandas as pd
tab = input("Enter sep: ")
pd.read_csv('dummy/data_tab_sep.txt', sep=tab)

     name\tage\tgender
0    Raphael\t26\tmale
1  Catrina\t20\tfemale